*.pyc
*.db
*~

html/
htmlcov/
coverage/
.coverage
.tox
nosetests.xml
build/
dist/
*.egg-info/
MANIFEST

bin/
include/
lib/
local/
.idea/
.vscode/
.mysql/

*.log
pip-log.txt

.DS_Store

env
site

bower_components/
static_root/

rugbystat*.sql
