{% extends "base.html" %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} | {{ object.season }} | {{ object.team }}{% endblock title %}

{% block content %}

<h2 id="name"><a href="{{ object.team.get_absolute_url }}">{{ object.team }}</a></h2>

<div><a href="{{ object.season.get_absolute_url }}">{{ object.season }}</a></div>
<article>{{ object.story | markdown }}</article>

{% include 'matches/match_list.html' with matches=object.get_matches %}
{% include 'matches/season_table.html' with object=object.season %}

<h3>Состав</h3>
<ul>
{% for player in object.get_players %}
  <li>
    <a href="{{ player.person.get_absolute_url }}">
      {{ player.person.full_name }}
    </a> {{ player.get_role_display }}
  </li>
  {{ player.story | markdown }}
{% endfor %}
</ul>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post">
    {% csrf_token %}

<div class="form-inputs formset_row">
  <div class="form-group has-error">
    <div class="col-sm-4">
      {% render_field person_form.person class+="form-control" %}
      <span class="help-block">{{ person_form.person.label }}</span>
    </div>
    <div class="col-sm-2">
      {% render_field person_form.role class+="form-control" %}
      <span class="help-block">{{ person_form.role.label }}</span>
    </div>
  </div>
    <div class="col-sm-6">
      {% render_field person_form.story class+="form-control" rows="2" %}
      <span class="help-block">{{ person_form.story.label }}</span>
    </div>
</div>

    {{ person_form.media }}

    {% if person_form.non_form_errors %}
        {% for error in person_form.non_form_errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
</form>

{% if user.is_superuser %}
<div>
  <form method="post">
    {% csrf_token %}
    {% render_field form.input class+="form-control" %}
    {% render_field form.season class+="form-control" %}
    {% render_field form.year class+="form-control" %}
    {% render_field form.team class+="form-control" %}
    <input class="btn btn-default" type="submit" value="Submit" />
  </form>
</div>
{% endif %}

{% endblock content %}
