{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load markdownx %}

{% block stylesheets %}

{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
  <!-- Include Bootstrap Datepicker -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" />
{% endblock stylesheets %}

{% block js %}

{{ block.super }}
  <script type="text/javascript" src="{% static 'js/teams.js' %}"></script>
  <script type="text/javascript">
    var teamListUrl = "{% url 'team-list' %}",
        teamUpdate = "{% url 'teams_detail' pk=object.pk %}",
        team = {{ object.pk }};
  </script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock js %}


{% block content %}

<div class="form-group">
  <label class="control-label" for="focusedInput">&nbsp;</label>
  <div class="input-group">
    <input type="search" class="form-control" id="team-input" />
    <span class="input-group-btn">
      <button class="btn btn-default" id="search-submit-btn" type="button">Искать</button>
    </span>
  </div>
</div>

<span id="indicator" style="display:none;"><img src="http://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"/></span>
<div id="results"></div>

<div class="pull-right">
  <button class="btn btn-default" id="showTeamForm" type="button">Редактировать(*)</button>
</div>

<h2 id="name" class="editable">{{ object.name }} {{ object.city.name }} ({{ object.operational_years }})</h2>

<div id="formErrors">
{% if form.errors %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="fieldError">
        {{ field.errors }}
    </div>
    {% endfor %}
{% endif %}
</div>

<form role="form" id="teamForm"
      method="POST" action="{% url 'teams_detail' pk=object.pk %}"
      style="display: none;">
{% csrf_token %}
<div id="dossierForm" class="form-inputs">
  <div class="form-inline row">
    <div class="col-sm-3">
      {% render_field form.year_prefix class+="form-control" %}
      <span class="help-block">{{ form.year_prefix.label }}</span>
    </div>
    <div class="col-sm-3">
      {% render_field form.year class+="form-control" %}
      <span class="help-block">{{ form.year.label }}</span>
    </div>
    <div class="col-sm-3">
      {% render_field form.disband_year_prefix class+="form-control" %}
      <span class="help-block">{{ form.disband_year_prefix.label }}</span>
    </div>
    <div class="col-sm-3">
      {% render_field form.disband_year class+="form-control" %}
      <span class="help-block">{{ form.disband_year.label }}</span>
    </div>
  </div>
</div>
<div id="storyForm" class="form-inputs">
  <div class="form-group">
    {% render_field form.story class+="form-control" rows="5" %}
    <span class="help-block">{{ form.story.label }}</span>
  </div>
</div>
<div id="submitForm">
  <div class="form-group">
    <button class="btn btn-default" id="submitTeamForm" type="submit">Сохранить</button>
    <button class="btn btn-secondary" id="cancelTeamForm" type="submit">Отмена</button>
  </div>
</div>
</form>

{{ form.media }}

<div id="dossier" class="editable">
  <b>Годы:</b> {{ object.operational_years }}
</div>
<div id="story" class="editable">
  <b>История:</b>
  <div>{{ object.story | markdown }}</div>
</div>

  <div class="pull-right">
    <button class="btn btn-default" id="showTeamSeasonForm" type="button">Добавить сезон(*)</button>
  </div>

{% if object.seasons.all %}
<h3>Сезоны</h3>
<table class="table table-striped table-hover" id="person-seasons">
<thead>
  <tr>
    <th>Турнир</th>
    <th>И</th>
    <th>В</th>
    <th>Н</th>
    <th>П</th>
    <th>Р/О</th>
    <th>О</th>
  </tr>
</thead>
<tbody>
{% for season in object.seasons.all %}
  <tr class="document-row">
    <td> 
      <a class="link" href="{{ season.get_absolute_url }}">
         {{ season.season }}
      </a>
    </td>
    <td>{{ season.played|default:"-" }}</td>
    <td>{{ season.wins|default:"-" }}</td>
    <td>{{ season.draws|default:"-" }}</td>
    <td>{{ season.losses|default:"-" }}</td>
    <td>{{ season.score|default:"-" }}</td>
    <td>{{ season.points|default:"-" }}</td>
    <td> {{ season.story }} </td>
  </tr>
{% endfor %}
</tbody></table>
{% endif %}

{% if object.documents %}
<h3>Документы</h3>
<table class="table table-striped table-hover" id="documents-table">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Описание</th>
      <th>Месяц/Год</th>
      <th>Ссылка</th>
    </tr>
  </thead>
  <tbody>
    
  {% for doc in object.documents %}
  <tr class="document-row">
    <td> {{ doc.title }} </td>
    <td> {{ doc.description }} </td>
    <td> {{ doc.date }} </td>
    <td> {% if doc.is_image %}
      <a class="dropbox-link" 
         href="{{ doc.dropbox_path }}">
         <img src="{{ doc.dropbox_thumb }}"/>
      </a>
    {% else %}
      <a class="dropbox-link" 
         href="{{ doc.dropbox_path }}">
         Нет превью
      </a>
    {% endif %}
    </td>
  </tr>
  {% endfor %}

  </tbody>
</table>

{% endif %}

{% include '_modal.html' with modal_id="moderationModal" %}

{% endblock content %}
