<h3>{{ object.name }}</h3>

{% if object.is_round_robin %}
<table class="table table-striped table-hover" id="season-table">
<thead>
  <tr>
    <th>М</th>
    <th>Команда</th>
    <th>И</th>
    <th>В</th>
    <th>Н</th>
    <th>П</th>
    <th>Р/О</th>
    <th>О</th>
  </tr>
</thead>
<tbody>
  {% for team in object.get_table %}
  <tr class="document-row">
    <td>{{ team.place }}</td>
    <td> 
      <a class="link" href="{{ team.get_absolute_url }}">
         {{ team.name }}
      </a>
    </td>
    <td>{{ team.played|default:"-" }}</td>
    <td>{{ team.wins|default:"-" }}</td>
    <td>{{ team.draws|default:"-" }}</td>
    <td>{{ team.losses|default:"-" }}</td>
    <td>{{ team.score|default:"-" }}</td>
    <td>{{ team.points|default:"-" }}</td>
  </tr>
  {% endfor %}
</tbody></table>
{% endif %}

{% include 'matches/match_list.html' with matches=object.matches.all %}