{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }} || Турниры {{ year|date:"Y" }} года{% endblock title %}

{% block content %}

<h2 id="name">{{ year|date:"Y" }}</h2>

<ul>
  {% for season in object_list %}
    <li> <a class="link" 
            href="{{ season.get_absolute_url }}">
            {{ season }}
         </a>
    </li>
  {% endfor %}
</ul>

<div>
    <ul class="pagination">
      {% if previous_year %}
        <li>
          <a href="{% url 'seasons_year' previous_year|date:"Y" %}">
            ❮ {{ previous_year|date:"Y" }}</a>
        </li>
      {% endif %}
      {% if next_year %}
        <li>
          <a href="{% url 'seasons_year' next_year|date:"Y" %}">
            {{ next_year|date:"Y" }} ❯</a>
        </li>
      {% endif %}
    </ul>
</div>

{% endblock content %}
