{% load widget_tweaks %}
{% load table %}

<h3>{{ object.name }}</h3>

{% if user.is_authenticated %}
<form role="form" id="parseGroupTable-{{object.pk}}" class="addForm"
      method="POST" action="{% url 'import_table' %}">
  {% csrf_token %}
<div class="form-inputs">
  <div class="form-group row">
    <input type="hidden" 
      name="group" 
      id="id_group" 
      value="{{ object.pk }}">

    <div class="col-sm-12">
      {% render_field import_form.raw class+="form-control" %}
    </div>
  </div>
  <div class="pull-right">
    <input class="btn btn-default submitForm" 
            id="submitGroupForm-{{object.pk}}" 
            type="submit"/>
  </div>
</div>
</form>
{% endif %}

<table class="table table-striped table-hover" id="season-table">
  {% if object.is_round_robin %}
  <thead>
  <tr>
    <th>М</th>
    <th>Команда</th>
    <th>И</th>
    <th>В</th>
    <th>Н</th>
    <th>П</th>
    <th>Р/О</th>
    <th>О</th>
  </tr>
</thead>
{% endif %}

<tbody>
  {% for team in object.get_table %}
  <tr class="document-row">
    <td>{{ team.place }}</td>
    <td> 
      <a class="link" href="{{ team.get_absolute_url }}">
         {{ team.name }}
      </a>
    </td>
    <td>{{ team.played|table }}</td>
    <td>{{ team.wins|table }}</td>
    <td>{{ team.draws|table }}</td>
    <td>{{ team.losses|table }}</td>
    <td>{{ team.score|table }}</td>
    <td>{{ team.points|table }}</td>
  </tr>
  {% endfor %}
</tbody></table>

{% include 'matches/match_list.html' with matches=object.matches.all %}