{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }} || Турниры{% endblock title %}
{% block content %}

<h2 id="name">Турниры</h2>

<ul>
  {% for obj in object_list %}
    <li> <a class="link" 
            href="{{ obj.get_absolute_url }}">
            {{ obj.name }}
         </a>
    </li>
  {% endfor %}
</ul>

<h2 id="name">Годы</h2>

<ul>
  {% for date in ends %}
    <li> <a class="link" 
            href="{% url 'seasons_year' date|date:"Y" %}">
            {{ date|date:"Y" }}
         </a>
    </li>
  {% endfor %}
</ul>

{% endblock content %}
