{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Вся регбийная статистика{% endblock title %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-social.css' %}">
  {% endblock stylesheets %}
  {% block js %}
<!--   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>  
 -->
   <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
   <script type="text/javascript">
        var csrf_token = "{{ csrf_token }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        function updateQueryStringParameter(uri, key, value) {
          var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
          var separator = uri.indexOf('?') !== -1 ? "&" : "?";
          if (key === undefined || value === undefined){
            return uri
          }
          if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
          }
          else {
            return uri + separator + key + "=" + value;
          }
        }

    </script>

  {% endblock js %}
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navbar-collapse">
        <span class="sr-only">Навигация</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Регбийный архив</a>
    </div>

{% load socialaccount %}
{% providers_media_js %}

    <div class="collapse navbar-collapse" id="menu-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'teams' %}">Команды</a> <span class="sr-only">(current)</span></li>
        <li><a href="{% url 'tournaments' %}">Турниры (пока нет)</a></li>
        <li><a href="{% url 'persons' %}">Персоны</a></li>
        <li><a href="{% url 'clippings' %}">Документы</a></li>
        <li><a href="#">Контакты (пока нет)</a></li>
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'account_logout' %}"> {{ user }} </a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <a href="{% provider_login_url "facebook" method="js_sdk" %}" 
           class="btn btn-block btn-social btn-facebook">
          <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>
      </ul>
      {% endif %}

    </div>
  </div>
</nav>

<div class="content container-fluid">
{% block content %}
{% endblock content %}
</div>
</body>
</html>