{% extends "base.html" %}

{% load staticfiles %}

{% block stylesheets %}
{{ block.super }}
{% endblock stylesheets %}

{% block js %}
{{ block.super }}
{% endblock js %}


{% block content %}

<div id="contacts">
  <div>
    Если вы уже нашли какую-то ошибку, немедленно сообщите мне об этом. Если у вас есть результаты матчей, протоколы, число зрителей, авторы попыток, очков  и т.п. - не сочтите за труд поделиться со всеми. Ведь, как оказалось, эта статистика интересна очень многим. И я надеюсь, что все больше и больше любителей регби будет обращаться к этим данным, а мы - в свою очередь - будем стараться предоставлять их максимально точными.</div>
  <div>Я всегда доступен по адресам:</div>
  <div><a href="https://www.facebook.com/krnrrr">https://www.facebook.com/krnrrr</a></div>
  <div><a href="http://rugbystat.forum24.ru/">http://rugbystat.forum24.ru/</a></div>
  <div>
    Ну и огромное спасибо тем, без кого этот сайт не состоялся бы в принципе: Заалу Гигинешвили и aleko, Юрию Мазуру и Алексею Путееву, Дмитрию Воронину и Александру Ефанову, nicknov17, захару, RWC, Валерию Хроменкову и Олегу Баскакову, Роману Иванюхину и Сергею Чеченкову, Юрию Дайнеко и Тарасу Дацко, Дмитрию Горбачу и Владимиру Дашевскому и всем-всем-всем, кого забыл упомянуть. </div>
</div>

{% endblock content %}
