{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% endblock css %}

{% block js %}
{{ block.super }}
  <script type="text/javascript" src="{% static 'js/documents.js' %}"></script>
  <script type="text/javascript">
    var documentListUrl = "{% url 'document-list' %}";
  </script>

{% endblock js %}


{% block content %}

  <form id="clippings-form" class="form-horizontal">
    <fieldset>
      <legend>Документы</legend>
  
      <div class="form-group col-lg-2" style="display:inline-block;">
        <label for="id_year" class="control-label">Год</label>
        {{ form.year }}
      </div>

      <div class="form-group col-lg-2" style="display:inline-block;">
        <label for="id_source" class="control-label">Источник</label>
        {{ form.source }}
      </div>

      <div class="form-group col-lg-2" style="display:inline-block;">
        <label for="id_source_type" class="control-label">Тип</label>
        <div class="input-group">
          {{ form.source_type }}
          <span class="input-group-btn">
            <button class="btn btn-primary" 
                    id="search-submit-btn" 
                    type="button">Искать</button>
          </span>
        </div>

      </div>
    </fieldset>
  </form>

<span id="indicator" style="display:none;">
  <img src="http://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"/>
</span>

<div>
  <div>
    Всего в базе вырезок: 
    <ul>
      <li>фото: {{ total.photo }}</li>
      <li>из газет: {{ total.newspaper }}</li>
      <li>из журналов: {{ total.magazine }}</li>
      <li>протоколов: {{ total.protocol }}</li>
      <li>из программок: {{ total.program }}</li>
      <li>из книг: {{ total.book }}</li>
      <li>прочее: {{ total.other }}</li>
      <li>без указаний на источник: {{ null }}</li>
      <li>всего: {{ sum_total }}</li>
    </ul>
  </div>
</div>
<div id="results">
  <div class="documents-div">
    <table class="table table-striped table-hover" id="documents-table">
      <thead>
        <tr>
          <th>Заголовок</th>
          <th>Описание</th>
          <th>Месяц/Год</th>
          <th>Ссылка</th>
        </tr>
      </thead>
      <tbody>
        {% for doc in qs %}
        <tr class="document-row">
          <td>{{ doc.title }}</td>
          <td>{{ doc.description | linebreaksbr | default_if_none:"" }}</td>
          <td>
            {% if doc.month %}{{doc.month}}/{% endif %}{{doc.year}}
          </td>
          <td>
            {% if doc.is_image %}
            <a class="dropbox-link" target="_blank" href="{{doc.dropbox_path}}">
              <img src="{{doc.dropbox_thumb}}"/></a>
            {% else %}
              <a href="{{doc.dropbox_path}}">Нет превью</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include '_modal.html' %}

{% endblock content %}
